@import 'reset';
@import 'normalize';
@import 'fonts';

html, body, #root {
  height: 100%;
}

body {
  font: 1rem 'Roboto-Regular', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #292950 transparent;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #292950;
    border-radius: 5px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrap {
  flex: 1 0 auto;
}

.pageWrap {
  padding: 30px 0;
}

h2 {
  margin-bottom: 30px;
}

.infinite-scroll-component {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden !important;
  @media (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
    @media (max-width: 540px) {
      grid-template-columns: 1fr;
    }
  }
}
