.MotorcyclesList {
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr;
  //grid-gap: 20px;
}
.item {
  padding: 10px;
  &:hover {
    .itemWrap {
      -webkit-box-shadow: 0 0 10px #909090;
      -moz-box-shadow: 0 0 10px #909090;
      box-shadow: 0 0 10px #909090;
      .image {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }
  .itemWrap {
    border: 1px solid #d3d3d3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 0 #909090;
    -moz-box-shadow: 0 0 0 #909090;
    box-shadow: 0 0 0 #909090;
    height: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    padding: 10px;
    .wrapImage {
      max-height: 290px;
      height: calc(100% - 50px);
      overflow: hidden;
      margin-bottom: 10px;
      .image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }
    }
    .title {
      color: #292950;
      display: flex;
      justify-content: space-between;
    }
  }
}